
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
 
  h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  
  #tabela {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #tabela th, #tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #tabela th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
  }
  
  #tabela tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #tabela tr:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 600px) {
    #tabela {
      width: 100%;
    }
  }
   
  